/************************************************************
Author: Jérémie Permentier
Author URI : https://jeremie-permentier-portfolio.fr
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0
Tags: piano kit
**************************************************************

Table of Contents:
  0. GLOBAL

**************************************************************/

/************************************************
0.	GLOBAL
************************************************/

body {
  background:#222
}

.piano {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  width: 400px;
  height: 250px;
  padding: 2rem 2rem 0 2rem;
  background: -webkit-gradient(linear,left top, right bottom,from(rgba(0,0,0,0.3)),
  to(rgba(0,0,0,0))),url('/assets/img/wood.png');
  background: -o-linear-gradient(top left,rgba(0,0,0,0.3),
  rgba(0,0,0,0)),url('/assets/img/wood.png');
  background: linear-gradient(to bottom right,rgba(0,0,0,0.3),
  rgba(0,0,0,0)),url('/assets/img/wood.png');
  -webkit-box-shadow:
    0 0 50px rgba(0,0,0,0.5) inset,
    0 1px rgba(212,152,125,0.2) inset,
    0 5px 15px rgba(0,0,0,0.5);
          box-shadow:
    0 0 50px rgba(0,0,0,0.5) inset,
    0 1px rgba(212,152,125,0.2) inset,
    0 5px 15px rgba(0,0,0,0.5);
  border-radius: 1rem;
  position: relative;
}
  .piano__key {
    position: relative;
    width: 67px;
    border: 1px solid;
    border-radius: 0 0 3px 3px;
    float: left;
    margin-left: -16px;
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    -o-transition: transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }

  .piano__key:first-child {
    margin-left: 0;
  }

  .white {
    background-color: white;
    height: 220px;
    z-index: 1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    -webkit-box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
            box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  }